# Dependencias
node_modules/
package-lock.json
yarn.lock

# Sistema operativo
.DS_Store
Thumbs.db
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# Testing
coverage/
.nyc_output/

# Temporal
tmp/
temp/

# Vercel
.vercel/
